<% content_for :messages do %>
  <% unless resource.errors.count == 0 %>
    <div id="error_explanation">
      <i class="fa fa-times"></i>
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this form from being submitted:</h2>
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<div class="title">
  <h1>Resend Unlock Instructions</h1>
</div>

<div class="outer-container">
  <fieldset>
    <legend>Resend Unlock Instructions</legend>
    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <div>
        <%= f.label :email %><br>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div>
        <%= f.submit "Resend Unlock Instructions" %>
      </div>
    <% end %>
  </fieldset>
</div>
