<div class="header">
  <h1>Our Organizers</h1>
  <p>
    These are the groups that are sponsored and a main focus for Prairie I/O. They're doing awesome stuff and we're here to help.
  </p>
</div>

<% if current_user && current_user.is_admin %>
  <div class="actions">
    <%= link_to "New Organizer", new_organizer_path, class: :button %>
  </div>
<% end %>

<% if @organizers.count > 0 %>
  <ul>
    <% @organizers.each do |organizer| %>
      <li>
        <div class="logo">
          <%= link_to organizer do %>
            <%= image_tag organizer.logo %>
          <% end %>
        </div>
        <div class="description">
          <h6><%= organizer.name %></h6>
          <%== organizer.description %> <%= link_to "Learn more about #{organizer.name}.", organizer, target: "_blank" %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
