<section id="welcome">
  <h1>Welcome to Silicon Prairie</h1>
  <p>A high tech, open-sourced tech community in the upper midwest and everyone's invited!</p>
  <%= render partial: "layouts/shared/join_button" %>
</section>

<div id="content">
  <section id="what-we-do">
    <p>We <strong>challenge</strong> what's possible in technology.</p>
    <p>We <strong>plan</strong> regular meet-ups like <%= link_to "Interface Fargo", Event.where(name: "Interface Fargo").chronological.first, target: "_blank" %>.</p>
    <p>We <strong>educate</strong> to strengthen our community.</p>
    <p>We <strong>grow</strong> a strong social network of nerds.</p>
  </section>

  <%= render partial: "layouts/shared/seperator" %>

  <section id="we-are">
    <ul>
      <li>
        <p>
          We are <strong><%= User.count %></strong> <%= "nerd".pluralize(User.count) %>.
        </p>
        <p>
          <%= render partial: "layouts/shared/join_button" %>
        </p>
      </li>
      <li>
        <p>
          We've hosted <strong><%= Event.count %></strong> <%= "event".pluralize(Event.count) %>.
        </p>
        <p>
          <%= link_to "Attend an event", activities_path, class: :button %>
        </p>
      </li>
      <li>
        <p>
          We have <strong><%= Partner.count %></strong> <%= "partner".pluralize(Partner.count) %>.
        </p>
        <p>
          <%= link_to "Become a partner", "", class: :button %>
        </p>
      </li>
    </ul>
  </section>
</div>
