<% content_for :messages do %>
  <% unless resource.errors.count == 0 %>
    <div id="error_explanation">
      <i class="fa fa-times"></i>
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this form from being submitted:</h2>
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h1>Invite a Nerd</h1>
  <p>
    At our core we are a community. We are always looking for more to join and would love for you to help spread the word! Fill in the address of someone you think would be interested.
  </p>
</div>

<section id="invitation">
  <div class="backgrounder"></div>

  <div class="window">
    <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
      <div class="navigation">
        <ul class="window-buttons">
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <div class="title">
          New Message
        </div>
        <div class="actions">
          <button type="submit"><i class="fa fa-paper-plane-o"></i></button>
        </div>
      </div>
      <div class="page">
        <div class="send-header">
          <p>
            <strong>To:</strong> <%= f.text_field :email, placeholder: "nerd@prairie.io", autofocus: true %>
          </p>

          <p>
            <strong>Subject:</strong> You've been invited to join Prairie I/O
          </p>
        </div>

        <div class="message-body">
          <div class="header">
            <%= image_tag "prairie-io-logo.png" %>
          </div>

          <p>
            Hey friend,
          </p>

          <p class="intro">
            <% if current_user && !current_user.name.blank? %>
              <strong><%= current_user.name %></strong> has invited you to join us in building Silicon Prairie!
            <% else %>
              You're invited to join us in building Silicon Prairie!
            <% end %>
          </p>

          <p class="signature">
            Thanks,<br>
            The Nerd Herd
          </p>
        </div>
      </div>

      <div class="send-invitation">
        <button type="submit" default>Send</button>
      </div>
    <% end %>
  </div>
</section>
