<% content_for :messages do %>
  <% unless @application.errors.count == 0 %>
    <div id="error_explanation">
      <i class="fa fa-times"></i>
      <h2><%= pluralize(@application.errors.count, "error") %> prohibited the form from being submitted:</h2>
      <ul>
        <% @application.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<section id="editables">
  <%= form_for @application, url: oauth_applications_path do |f| %>
    <div id="logo">
      <% if @application.logo.file? %>
        <div class="logo-preview">
          <%= image_tag @application.logo.url(:thumb) %>
        </div>
      <% else %>
        <%= f.label :logo, "Logo" %>
      <% end %>

      <%= f.file_field :logo %>
    </div>

    <div>
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "Prairie I/O" %>
    </div>

    <div>
      <%= f.label :home_url, "Application URL" %>
      <%= f.text_field :home_url, placeholder: "http://prairie.io" %>
    </div>

    <div>
      <%= f.label :redirect_uri, "Redirect URI" %>
      <%= f.text_field :redirect_uri, placeholder: "http://prairie.io/oauth/callback" %>
    </div>

    <div>
      <%= f.label :description %>
      <%= f.text_area :description, placeholder: "What does your application do?" %>
    </div>

    <div class="submit">
      <%= f.submit "Create" %>
    </div>
  <% end %>
</section>
