<header>
  <div class="logo">
    <%= link_to image_tag("prairie-io-logo.png", alt: "Prairie I/O Logo"), root_path %>
  </div>
  <div class="hamburger">
    <i class="fa fa-bars"></i>
  </div>
  <nav class="hidden">
    <ul>
      <li class="link home"><%= link_to "Home", root_path %></li>
      <% unless Event.count == 0 %>
        <li class="link"><%= link_to "Events", activities_path %></li>
      <% end %>
      <% if current_user %>
        <li class="link">
          <%= link_to "Account", edit_user_path(current_user) %>
        </li>

        <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "button" %></li>
      <% else %>
        <li class="link"><%= link_to "Login", new_user_session_path %></li>
        <li><%= render partial: "layouts/shared/join_button" %></li>
      <% end %>
    </ul>
  </nav>
</header>

<% content_for :scripts do %>
  <script>
    $('.hamburger').click(function() {
      $('header > nav').toggleClass('hidden');
    });
  </script>
<% end %>
