<p>
  Hey <%= @user.display_name.split(" ").first %>,
</p>

<p class="intro">
  <% local_time = @event.starts_at.in_time_zone(@event.time_zone) %>
  We hope you'll join us at <strong><%= link_to @event.name, event_url(@event) %></strong> on <%= local_time.strftime("%A, %B #{local_time.day.ordinalize} at %l:%m%P") %>.
</p>

<div class="description">
  <%== @event.description_html %>
</div>

<% if @event.starts_at > Time.now && @event.is_attendable? %>
  <div class="actions">
    <%= link_to "Attend event", quick_attend_event_tickets_url(@event, user_hex: @user.hex), class: "button" %>
  </div>
<% end %>

<p class="signature">
  Thanks,<br>
  The Nerd Herd
</p>

<p class="unsubscribe">
  <small>Hate email? <%= link_to "Unsubscribe", unsubscribe_subscriptions_url(user_hex: @user.hex) %></small>
</p>
