<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="bitly-verification" content="1f06f4c663d4"/>
  <title><%= page_title %></title>
  <meta name="viewport" content="width=device-width" />
  <%= render partial: "layouts/shared/push_notifications" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,300,400|Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "home" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <%= favicon_link_tag "favicon.ico" %>
  <%= favicon_link_tag "apple-touch-icon.png", rel: "apple-touch-icon", type: "image/png" %>
</head>

<body class="home-layout <%= body_class %>">
  <%= render partial: "layouts/shared/header" %>
  <%= render partial: "layouts/shared/flash_messages" %>
  <%= yield :messages %>

  <main>
    <%= yield %>
  </main>

  <%= render partial: "layouts/shared/footer" %>

  <%= javascript_include_tag "home" %>
  <%= yield :scripts %>
  <%= render partial: "layouts/shared/analytics" %>
</body>

</html>
